<!-- app/views/categories/edit.html.erb -->
<div class="form-container">
  <h1>Edit Category</h1>

  <%= form_with(model: @category, url: category_path(@category), method: :patch) do |form| %>
    <% if @category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

        <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-field buttons">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "Update Category", class: "btn btn-primary" %>
    </div>
  <% end %>
    <div class="buttons">
        <%= link_to 'Back to Categories', categories_path, class: "btn btn-secondary buttons" %>
    </div>
</div>
